/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: rgb(229, 228, 228);
}

header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #191825;
color: #865DFF;
padding: 10px;

}

.Inicio {
color: #865DFF;
text-decoration: none;
font-size: 24px;
font-weight: bold;
}

.navegacion ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;

}

.navegacion ul li a{
margin: 0 10px;
color: #865DFF;
text-decoration: none;
font-size: 18px;
}

.navegacion ul li a:hover{
    color: #E384FF;
}

/* Main inicio */
.presentacion {
    margin: 50px auto;
    text-align: center;
}

.presentacion h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.presentacion p {
    font-size: 18px;
    line-height: 1.5;
}


                    /*COMENTA*/

.comentario {
    padding: 20px;
}

.comentario h1{
    font-size: 2em;
    text-align: center;
}

.comentario p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.comentario div {
    margin-bottom: 20px;
}

.comentario label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #191825;
    color: #865DFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #865DFF;
    color: #191825;
}

                /*HISTORIA*/
.historia h1 {
    font-size: 24px;
    margin-top: 0;
    text-align: center;
}
.historia {
    margin: 20px;
    padding: 10px;
    border: 2px solid #E384FF;
    background-color: #865DFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

  /* Estilos para los subtítulos */
.historia h2,
.historia h3 {
    font-size: 20px;
    margin-top: 1em;
    text-align: cente;
}

  /* Estilos para el texto normal */
.historia p {
    margin-top: 0;
    text-align: center;
}

  /* Estilos para el texto en negrita */
.historia b {
    font-weight: bold;
}

/*BOCETOS*/

.bocetos h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
  /* Estilo para el párrafo */
.bocetos p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
  /* Estilo para las imágenes */
.bocetos img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

  /* Estilo para la sección de bocetos */
.bocetos {
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem;
}

/*PERSONAJES*/

.personajes {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.personajes h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.personajes h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.personajes h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.personajes p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.beck {
    width: 200px;
    display: block;
    max-width: 200%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.beck:hover{
    width: 250px;
    box-shadow: 0px 0px 15px  darkgrey ;
}

.Amber {
    width: 200px;
    display: block;
    max-width: 200%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Amber:hover {
    width: 250px;
    box-shadow: 0px 0px 15px  darkgrey ;
}

.Gaco {
    width: 250px;
    display: block;
    max-width: 200%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Gaco:hover {
    width: 300px;
    box-shadow: 0px 0px 15px  darkgrey ;
}
/* FOOTER */

footer {
    background-color: #191825;
    color: #865DFF;
    padding: 10px;
    text-align: center;
}

.redes {
width: 50px;
height: 50px;
margin: 10px;
}
