
.comentario {
    justify-content: center;
    padding: 20px;
        h1{
        font-size: 2em;
        text-align: center;
        }
        p {
        font-size: 1.2em;
        margin-bottom: 20px;
        text-align: center;
        }
        div {
        margin-bottom: 20px;
        }
        label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
        margin-left: 30%;
        }
        input[type="text"],
    textarea {
        
        padding: 10px;
        border: 1px solid #7e56a0;
        border-radius: 5px;
        font-size: 1.2em;
        width: 700px;
        box-sizing: border-box;
        margin-bottom: 10px;
        margin-left: 30%;
    }
    }
    
    
    
    button[type="submit"] {
        margin-left: 48%;
        background-color: #191825;
        color: #865DFF;
        border: none;
        padding: 10px;
        border: 1px solid #865DFF;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }
    
    button[type="submit"]:hover {
        background-color: #865DFF;
        color: #191825;
    }
    