                    /*HISTORIA*/
    
.historia {
    margin: 20px;
    padding: 10px;
    border: 2px solid #f0bdff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(231, 135, 255, 0.745);
    background-color: #564098;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
        h1 {
            font-size: 24px;
            margin-top: 0;
            text-align: center;}
        h2,h3 {
            font-size: 20px;
            margin-top: 1em;
            text-align: center;
            }
        p {
            margin-top: 0;
            text-align: center;
            }
        b {
            font-weight: bold;
        }
}