
@media screen and (min-width: 320px) and (max-width: 480px) {
                /*HEADER*/

    header {
        display: grid;
        grid-template-areas:
        "inicio inicio inicio inicio"
        "a1 a2 a3 a4";
        grid-area: header;
        justify-content: center;
        background-color: #191825;
        color: #865DFF;
        padding: 5px;
        grid-template-areas: 
        "inicio"
        "nav";
        .Inicio {
            text-align: center;
            grid-area: inicio;
            width: 100px;
            color: #865DFF;
            margin: 10px;
            padding: 10px;
            text-decoration: none;
            font-size: 40px;
            font-weight: bold;
            justify-items: center;
        }
    
        .encabezado {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .Inicio {
            font-size: 40px;
            width: auto;
            justify-items: center;
        }
    
        .navegacion {
            margin-top: 10px;
            text-align: center;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                .a1{
                grid-area: a1;
                }
                .a2{
                grid-area: a2;
                }
                .a3{
                grid-area: a3;
                }
                .a4{
                grid-area: a4;
                }
                li a{
                    border-radius: 5px;
                    margin: 0 10px;
                    color: #865DFF;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 3px;
                    transition: color 0.2s, font-size 0.2s;
                    &:hover{
                        color: #CCC;
                        font-size: 23px;
                    }
                }
            }
        }
    }
                /*INDEX*/
.presentacion {
    width: 280px;
    height: 220px;
    text-align: center;
        h1 {
            margin: 10px auto;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p {
            font-size: 15px;
            line-height: 1.5;
        }
}

.SobreMi{
    width: 300px;
    height: 350px;
    margin: 40px auto;
    text-align: center;
        h2{
            font-size: 20px;
        }
        p {
            font-size: 15px;
        }
}


    
    /*BOCETOS*/

.bocetos {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    grid-template-areas: 
    "h1"
    "inicial"
    "boceto1" 
    "c1"
    "boceto2"
    "c2"
    "boceto3"
    "c3"
    "boceto4"
    "c4"
    "boceto5"
    "c5"
    "boceto6"
    "c6"
    "boceto7"
    "c7"
    "boceto8"
    "c8"
    "boceto9"
    "c9";
margin: 0 auto;
max-width: 800px;
padding: 2rem;
text-align: center;
justify-content: center;
    h1 {
        grid-area: h1;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    }
    .inicial{
        width: 250px;
        grid-area: inicial;
        justify-self: center;
    }
    .boceto1{
        grid-area: boceto1;
        justify-self: center;
        width: 250px;

    }
    .c1{
        
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c1;
        padding: 50px 10px 50px 10px;
    }
    .boceto2{
        grid-area: boceto2;
        justify-self: center;
        width: 250px;
    }
    .c2{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c2;
    }
    .boceto3{
        grid-area: boceto3;
        justify-self: center;
        width: 300px;
    }
    .c3{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c3;
    }
    .boceto4{
        grid-area: boceto4;
        justify-self: center;
        width: 250px;
    }
    .c4{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c4;
    }
    .boceto5{
        grid-area: boceto5;
        justify-self: center;
        width: 250px;
    }
    .c5{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c5;
    }
    .boceto6{
        grid-area: boceto6;
        justify-self: center;
        width: 300px;
    }
    .c6{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c6;
    }
    .bocetogaco{
        grid-area: boceto7;
        justify-self: center;
        width: 250px;
    }
    .c7{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c7;
    }
    .rediseños{
        grid-area: boceto8;
        justify-self: center;
        width: 300px;
    }
    .c8{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c8;
    }
    .antagonista{
        grid-area: boceto9;
        justify-self: center;
        width:250px;
    }
    .c9{
        box-shadow: 0px 0px 20px #f0bdff;
        background-color: #564098;
        border: solid 3px whitesmoke;
        border-radius: $movil;
        grid-area: c9;
    }
    p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    }
    img {
    margin-right: 20px;
    border-radius: 5px;
    width: 400px;
    height: auto;
    margin-bottom: 1.5rem;
    transition: scale 0.5s, box-shadow 0.5s;
        &:hover{
            scale: 1.1;
            box-shadow: 0px 0px 20px  rgb(131, 208, 252) ; ;

        }
    }
}                

                /*PERSONAJES*/

.personajes {
    
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    text-align: center;
        h1 {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
        h2 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 20px;
        }
        h3 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 10px;
        }
        p {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
        }
        .beck {
        width: 200px;
        display: block;
        max-width: 200%;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(95, 196, 255, 0.3);
        transition: scale 0.2s, box-shadow 0.2s;
            &:hover{
            scale: (1.1);
            box-shadow: $blue-light;}
        }
        .Amber {
        width: 200px;
        display: block;
        max-width: 200%;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.3);
        transition: scale 0.2s, box-shadow 0.2s;
            &:hover {
            scale: (1.1);
            box-shadow: 0px 0px 20px  rgb(131, 208, 252);}
        }
    
    .Gaco {
        width: 250px;
        display: block;
        max-width: 200%;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.3);
        transition: scale 0.2s, box-shadow 0.2s;
            &:hover {
            scale: (1.1);
            box-shadow: 0px 0px 20px  rgb(131, 208, 252);}
        }
    }

                /*COMENTA*/

.comentario {
    justify-content: center;
    padding: 20px;
    h1{
        font-size: 2em;
        text-align: center;
    }
    p {
        font-size: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
    div {
        margin-bottom: 20px;
        }
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
        margin-left: 6%;
        }
    input[type="text"],textarea {
        padding: 10px;
        border: 1px solid #b673f0;
        border-radius: 5px;
        font-size: 1.2em;
        width: 250px;
        box-sizing: border-box;
        margin-bottom: 10px;
        margin-left: 6%;
        }
    }

    button[type="submit"] {
        margin-left: 40%;
        background-color: #191825;
        color: #865DFF;
        border: none;
        padding: 10px;
        border: 1px solid #865DFF;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }
    button[type="submit"]:hover {
        background-color: #865DFF;
        color: #191825;
    }
}

